@import url("https://use.typekit.net/nhj3qea.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-serif;
}

.hero-heading span {
  font-size: 110%;
  color: transparent;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.policy-document h3 {
  margin-top: 2rem;

  font-family: 'marydale', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
  color: theme('colors.qrmory-purple-500');
}

.policy-document h4 {
  margin-top: 1.25rem;

  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.5rem;

  color: theme('colors.qrmory-purple-800');
}

.policy-document p {
  margin-top: 1rem;
  margin-bottom: 1rem;

  font-size: 1rem;
  line-height: 1.5rem;
}

.control-label {
  @apply mb-8;

  @apply text-sm;
  @apply font-bold;
  @apply text-stone-500;
}

.control-input {
  @apply px-2;
  @apply pt-2;

  @apply flex-grow;

  @apply bg-transparent;
  @apply border-stone-400;
  @apply ring-0;
  @apply border-0;
  @apply outline-none;

  @apply text-base;
  @apply text-qrmory-purple-800;
  @apply font-bold;

  @apply transition-all;
  @apply duration-300;
  @apply ease-in-out;
}

.control-input::placeholder {
  @apply text-stone-400;
  @apply font-sansLight;
  @apply text-sm;
  @apply italic;
}

.control-input.short,
.control-input.shorter,
.control-input.shortest{
  @apply ml-10;
}

.control-input.short {
  max-width: 24rem;
}
.control-input.shorter {
  max-width: 18rem;
}

.control-input.shortest {
  max-width: 12rem;
}

.control-input:focus {
  @apply bg-stone-100;
}

input {
  border-width: 0 !important;
  border-bottom-width: 1px !important;
}

.qr-selector.home {
  transition-property: color, background-color !important;
  transition-duration:  0.45s, 0.2s !important;
  transition-timing-function: ease, ease !important;
}

.qr-selector.active {
  background-color: theme('colors.qrmory-purple-800') !important;
  color: white !important;

  box-shadow: 0 12px 20px -5px theme('colors.qrmory-purple-600');
}

.qr-selector.active #selector-descriptor {
  display: none;
}

#selector-content {
  top: 0;

  transition: all 0.3s ease;
}

#selector-block-head.disabled,
#selector-block-foot.disabled {
  cursor: initial;
  color: theme('colors.qrmory-purple-200') !important;
}

#download-button:disabled {
  box-shadow: none;
}

/* under md: */
@media (max-width: 767px) {
  .control-input {
    @apply text-sm;
  }
}

/* md: */
@media (min-width: 768px) {

}